svg .pointGroup text {
	display: none;
	fill: red;
	font-size: 1.5em;
}


svg circle {
	r: 8;
}

svg circle:hover{
	fill: green;
}

svg circle:hover ~ text {
	display: block;
}

#canvas{
	margin: 0;
	padding: 0;
}

#canvas svg{
	border: 1px solid gray;
	margin: 0.1em 0.2em;
}