body{
	margin: 0;
	padding: 0;
}

.hidden{
	display: none !important;
}

/* menu */
nav{
	background-color: #2BBBD8;
	color: #FCD271;
	font-size: 20px;
	border-bottom: 1px solid #102E37;
	margin-bottom: 20px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
nav > ul{
    padding-left: 50px;
}

nav li.menu-option {
	cursor: pointer;
	color: #FFFFFF;
}

/*dropdown activator*/
nav > ul > li {
   	display: inline-block;
	position: relative;
	margin: 0.85em 1em;
}

/*dropdown content*/
nav > ul > li > ul{
	display: none;
	position: absolute;
	background-color: #E8EDE0;
	border: 1px solid #102E37;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

nav > ul > li:hover > ul{
	display: block;
}

nav > ul > li > ul li.menu-option{
	padding: 5px;
	color: #F78D3F;
}

nav svg {
	transform: scale(0.08) translate(-240em, -170em);
	position: absolute;

}

nav svg g circle,
#loader svg g circle{
	r: 15;
	fill: #102E37;
}

nav svg #logo-magnifying-glass path,
#loader #loader-logo-magnifying-glass path {
	stroke: #FCD271;
	transform: translate(12em,5em);
}


/* SVG PLOTS */

#canvas, #form {
	padding: 0;
	margin: 0 1em;
	border: 1px solid #102E37;
}

#form{
	margin-bottom: 1em;
}

#canvas{
	display: inline-block;
	background-color: #FCD271;
	box-sizing: border-box;
	overflow-y: auto;
	overflow-x: hidden;
}

#canvas svg{
    vertical-align:	top;
    display: inline-block;
    margin: 0;
    padding: 0;
}
#canvas svg:not(.detail){
	margin-right: 0.2em;
	margin-bottom: 0.2em;
}

#canvas svg .pointGroup text {
	display: none;
	font-size: 1.5em;
}

#canvas .axis
#canvas svg .pointGroup text{
	fill: #102E37;
}

#canvas svg circle {
	r: 8;
	fill: #F78D3F;
}

#canvas svg.detail:not(.inline) circle:hover,
#canvas svg.inline g.measurement-group:hover circle,
#canvas svg.inline g.measurement-group.selected-group circle{
	fill: #2BBBD8;
	fill-opacity: 1;
}

#canvas svg.detail.inline circle:hover {
	fill: red;	/*for now*/
}

#canvas svg.detail circle:hover ~ text {
	display: block;
}

#canvas svg rect{
	fill: #E8EDE0;
}

#canvas svg:not(.detail):not(.inline):hover rect{
	fill: #2BBBD8;
}

#canvas svg:not(.detail):not(.inline):hover circle{
	fill: #E8EDE0;
}

#canvas svg.last-selected rect{
	fill: red;
}

#canvas svg.inline g.measurement-group.last-selected circle{
	fill: #FCD271;
}

#canvas svg.center rect{
	fill: green;
}

#canvas svg.inline g.measurement-group.far circle{
	fill: green;
}

#canvas svg.far rect{
	fill: black;
}

#canvas svg.inline g.measurement-group.farfar circle{
	fill: black;
}

#canvas svg.farfar rect{
	fill: pink;
}

#canvas svg.inline g.measurement-group.farfar circle{
	fill: pink;
}

/* form element positioning*/
#form{
	padding: 1em;
	text-align: center;
	background-color: #E8EDE0;
	color: #102E37;
}

#form div *{
	margin: 0.4em 1%;
	width: 34%;
	max-width: 250px;
	text-align: left;
}

#form div label {
	display: inline-block;
}

#form select, #form button{
	height: 2.4vh;
	width: 37%;
	text-align-last: center;
	background-color: #FCD271;
	cursor: pointer;
}

#form button{
	border-radius: 25px;
}

#form div.button{
	text-align: center;
}

#form input{
	text-align: right;
	padding: 0 0.3em;
	height: 2.2vh;
	background-color: #FCD271;
	color: #102E37;
}

/*loading animation*/
#loader{
	height: 100vh;
	background-color: #2BBBD8;
	text-align: center;
}

#loader-SVG{
	height: 60vh;
}
#loader-msg{
	height: 40vh;
	color: #E8EDE0;
    font-size: 1.2em;
    font-family: cursive;
    padding-top: 3em;
}

#loader svg{
	transform: scale(0.5) translate(10em);
}

#loader svg g{
	transform: translate(6em, 5em);
}

#loader svg g circle{
	r: 15;
}

#loader #loader-logo-magnifying-glass path {
	stroke: #FCD271;
	transform: translate(-6em,15em);
	animation: moving-mg 3s linear 0s infinite alternate;
}

@keyframes moving-mg {
	0%		{transform: translate(-6em,15em);}
	25%		{transform: translate(0em,9em);}
	60%		{transform: translate(12em,9em);}
	75%		{transform: translate(16em,5em);}
	100%	{transform: translate(18em,-5em);}
}