body{
	margin: 0;
	padding: 0;
}

.hidden{
	display: none;
}

/* menu */
nav{
	background-color: #2BBBD8;
	color: #FCD271;
	font-size: 20px;
	border-bottom: 1px solid #102E37;
	margin-bottom: 20px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
nav > ul{
    padding-left: 50px;
}

nav li.menu-option {
	cursor: pointer;
	color: #FFFFFF;
}

/*dropdown activator*/
nav > ul > li {
   	display: inline-block;
	position: relative;
	margin: 0.85em 1em;
}

/*dropdown content*/
nav > ul > li > ul{
	display: none;
	position: absolute;
	background-color: #E8EDE0;
	border: 1px solid #102E37;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

nav > ul > li:hover > ul{
	display: block;
}

nav > ul > li > ul li.menu-option{
	padding: 5px;
	color: #F78D3F;
}

nav svg {
	transform: scale(0.08) translate(-240em, -170em);
	position: absolute;

}

nav svg g circle {
	r: 15;
	fill: #102E37;
}

nav svg #logo-magnifying-glass path {
	stroke: #FCD271;
	transform: translate(12em,5em);
}


/* SVG PLOTS */

#canvas, #form {
	padding: 0;
	margin: 0 1em;
	border: 1px solid #102E37;
}

#form{
	margin-bottom: 1em;
}

#canvas{
	display: inline-block;
	background-color: #FCD271;
	box-sizing: border-box;
	overflow-y: auto;
	overflow-x: hidden;
}

#canvas svg{
    vertical-align:	top;
    display: inline-block;
    margin: 0;
    padding: 0;
}
#canvas svg:not(.detail){
	margin-right: 0.2em;
	margin-bottom: 0.2em;
}

#canvas svg .pointGroup text {
	display: none;
	fill: #102E37;
	font-size: 1.5em;
}


#canvas svg circle {
	r: 8;
	fill: #F78D3F;
}

#canvas svg.detail circle:hover {
	fill: #2BBBD8;
}

#canvas svg.detail circle:hover ~ text {
	display: block;
}

#canvas svg rect{
	fill: #E8EDE0;
}

#canvas svg:not(.detail):hover rect{
	fill: #2BBBD8;
}

#canvas svg:not(.detail):hover circle{
	fill: #E8EDE0;
}

/* form element positioning*/
#form{
	padding: 1em;
	text-align: center;
	background-color: #E8EDE0;
	color: #102E37;
}

#form div *{
	margin: 0.4em 1%;
	width: 34%;
	max-width: 250px;
	text-align: left;
}

#form div label {
	display: inline-block;
}

#form select, #form button{
	height: 2.4vh;
	width: 37%;
	text-align-last: center;
	background-color: #FCD271;
	cursor: pointer;
}

#form button{
	border-radius: 25px;
}

#form div.button{
	text-align: center;
}

#form input{
	text-align: right;
	padding: 0 0.3em;
	height: 2.2vh;
	background-color: #FCD271;
	color: #102E37;
}

/*loading animation*/
#loader{
	height: 10vh;
	background-color: #2BBBD8; 
}